<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bookface</title>
</head>
<body>
    <a href="{%url 'library:index'%}">Add Book and Review</a> |
    <a href="{%url 'login_register:logout'%}">Log Out</a>
    <h1>Hello, {{user.firstname}}!</h1>
    <h3>Recent Book Reviews:</h3>
    {%for recent_review in recent_reviews%}
    <a href="{%url 'main:book' book_id=recent_review.book.id%}">{{recent_review.book.title}}</a><br>
    <p>Rating: {{recent_review.rating}}</p>
    <p>
        <a href="{%url 'main:user' user_id=recent_review.user.id%}">{{recent_review.user.firstname}}</a>
        says: <i>"{{recent_review.content}}"</i>
    </p>
    <p><i>Posted on {{recent_review.created_at}}</i></p>
    <hr>
    {%endfor%}
    <h3>Other Book Reviews:</h3>
    {%for other_review in other_reviews%}
    {%if not other_review.isRecent%}
    <a href="{%url 'main:book' book_id=other_review.id%}">{{other_review.title}}</a><br>
    {%endif%}
    {%endfor%}
</body>
</html>
