<html>

<head>
    <title>Register today!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/registration.css') }}"> -->
    <style type="text/css">
        body {
            background-color: #F1F4F8;
        }

        #wrapper {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <div id="login_page">
            <h1>SIGN IN</h1>
            <form action='/user/log_in' method='post'>
                <p>Email:</p>
                <p><input type='text' name='email'></p>
                <p>Password:</p>
                <p><input type='text' name='pass'></p>
                <p class="login_bttn"><input type='submit' name='login' value="Sign In"></p>
            </form>
        </div>
        <div id="signup_page">
            <h1>REGISTER</h1>
            <form action='/register' method='post'>
                <p>First name: </p>
                <p><input type='text' name='first_name'></p>
                <p>Last name: </p>
                <p><input type='text' name='last_name'></p>
                <p>Email: </p>
                <p><input type='text' name='email'></p>
                <p>Password: </p>
                <p><input type='text' name='pass'></p>
                <p>Confirm password: </p>
                <p><input type='text' name='cpass'></p>
                <input type='submit' value='Register your Voice'>
            </form>
        </div>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
        <p style="color:{{session['color']}}">{{message|safe}}</p>
        {% endfor %} {% endif %} {% endwith %}
    </div>
</body>

</html>
