<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Semi Restful Route Demo</title>
</head>
<body>
    <h1>Products</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}} Golds</td>
            <td>
                <a href="{% url 'srr:show' product_id=product.id%}">Show</a> |
                <a href="{% url 'srr:edit' product_id=product.id%}">Edit</a> |
                <a href="{% url 'srr:remove' product_id=product.id%}">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'srr:addprod' %}">Add a new product</a>
</body>
</html>
