<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product {{show_product.id}} Info | Semi Restful Route Demo</title>
</head>
<body>
    <h1>Product {{show_product.id}}</h1>
    <p>Name: {{show_product.name}}</p>
    <p>Description: {{show_product.description}}</p>
    <p>Price: ${{show_product.price}}</p>

    <a href="{% url 'srr:edit' product_id=show_product.id%}">Edit</a> |
    <a href="{% url 'srr:index' %}">Go back</a>
</body>
</html>
